.navBar {
  background-color: #181818;
  list-style: none;
  height: 100%;
  padding: 20px 20px 20px 20px;
  text-align: left;
}

.navBar > li > a {
  display: inline-block;

  margin-bottom: 6px;
  padding-left: 20px;
  color: rgb(214, 212, 212);
  font-weight: 500;
  font-size: 1em;
}

.navBar > li > a:hover {
  color: rgb(245, 241, 241);
  text-decoration: none;
}

.NavBar__title {
  margin-top: 10%;
  display: inline-block;
  padding-left: 20px;
  color: rgba(187, 185, 185, 0.596);
}