.displayList {
    padding: 0;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}
.displayListItem {
    color: white;
    list-style: none;
    margin: 5px;
    padding: 10px;
    max-width: 200px;
    
}

.displayListItem img {
    max-width: 170px;
}